*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bi{
    font-size: 40px;
    margin-right: 30px;
    margin-left: 30px;
    /* border: 2px solid black; */
    /* border-radius: 50%; */
}

.mainsection img{
    height: 600px;
}
.mainsection h2{
    position: absolute;
    top: 400px;
    left: 150px;
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.mainsection button{
    position: absolute;
    top: 500px;
    left: 150px;
    background-color: white;
    color: #FDC015;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
}

.mainsection button:hover{
    color: white;
    border: 2px solid white;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
}
.marquee{
    height: 100px;
    background-color: rgb(228, 115, 9);
   
    
}
  .blink {
    height: 100px;
    animation: blinker 1.5s linear infinite;
    color: white;
    font-size: 50px;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 10px;
    
    }
     @keyframes blinker {
          50% {
           opacity: .5;
          }
 }
.category{
    height: 450px;
   
}
.category-sub{
   
    height: 200px;
    border: 3px solid gray;
    margin: 10px;
    position: relative;
    
}
.category-sub1{
    border: 3px solid gray;
    position: relative;
    padding: 0px !important;
}
.category-sub a{
position: absolute;
/* top: 25%; */
left: 0%;
bottom: 0%;
width: 100%;
background-color: gray;

text-align: center;
height: 30px;
color: white;
text-decoration: none;
font-size: 18px;
font-weight: 500;
}

.category-sub a:hover{
color: gray;
background-color: white;
}

.category-sub1 a{
    position: absolute;
    /* top: 25%; */
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: gray;
    
    text-align: center;
    height: 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.category-sub1 a:hover{
    color: gray;
    background-color: white;
    }

.category-sub p{
    position: absolute;
    /* top: 25%; */
    left: 0%;
    top: 0%;
    background-color: black;
    opacity: .8;
    width: 100%;     
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
        }

.category-sub1 p{
    position: absolute;
    /* top: 25%; */
    left: 0%;
    top: 0%;
    background-color: black;
    opacity: .8;
    width: 100%;     
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    }
        
/* Slow-motion Zoom Container */
.img-hover-zoom{
    transform-origin: 50% 65%;
    transition: transform 1s, filter 3s ease-in-out;

  }
  
  /* The Transformation */
  .img-hover-zoom:hover {
    filter: brightness(100%);
    transform: scale(1.05);
  }

  .features{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid #E47309 !important;
   
  }
  .features .bi{
    color: #E47309;
    font-size: 60px;
    font-weight: 800;
  }
.features h3{
    color: #E47309;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.features-main{
    margin-top: -200px !important;
}

 /* .categories{
    margin-top: 80px;
    height: 250px !important;
    
}  */
.categories-title h2{
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-color: #E47309;
    padding: 10px;
    text-align: center;
    margin-top: 70px;

}
.features img{
    height: 200px;
    width: 200px;
}
/* .features{
    height: 200px;
} */
/* .gotopage{
    z-index: 999;
} */
.features h5,
.features p{
    font-size: 16px;
}
.features h4{
    font-size: 18px;
    font-weight: 700;
    color: #E47309;
}

.pricetag{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.pricetag .bi{
    font-size: 30px;
    font-weight: 600;
    /* margin-top: -10px; */
    border: 2px solid #E47309;
    border-radius: 50%;
    padding: 5px;
}
.rating{
    display: flex;
}
.rating .bi{
font-size: 12px;
margin: 2px;
padding: 0px;
}


.visit{
    text-decoration: none;
    color: white;
    background-color: #E47309;
    padding: 10px 25px;
    letter-spacing: 1.25px;
    font-size: 18px;
    font-weight: 500;
    /* border: 2px solid white; */
    border-radius: 50px;
}

.visit:hover{
    color: #E47309;
    background-color: white;
    border: 2px solid #E47309;
}