*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.women-main{
    height: 350px;
    background-image: url(../image/products/women/main.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* color: white; */
   
}

.women-main h2{
    color: white;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 1.5px;
   margin-top: 150px;
   margin-left: 20px;
}
.women-products h2{
    font-size: 40px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
   padding: 10px;
   width: 100%;
   background-color: #E47309;
   margin-top: 80px;
   text-align: center;
}


/* .categories img{
    height: 200px;
    width: 200px;
} */
/* .categories-sub{
    height: 200px;
} */
/* .gotopage{
    z-index: 999;
} */
.features h5,
.features p{
    font-size: 16px;
}
.features h4{
    font-size: 18px;
    font-weight: 700;
    color: #E47309;
}

.pricetag{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.pricetag .bi{
    font-size: 30px;
    font-weight: 600;
    /* margin-top: -10px; */
    border: 2px solid #E47309;
    color: #E47309;
    border-radius: 50%;
    padding: 5px;
}
.rating{
    display: flex;
}
.rating .bi{
    font-size: 12px;
    margin: 2px;
    padding: 0px;
    color: #E47309;
}